@model MVC.Models.books

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.book_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publication_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publication_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.book_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
